@model List<WebSachCuaEn.Identity.AppUser>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>@Html.ActionLink("Thêm user", "Create", new { area = "Admin" }, new { controller = "Users" })</p>
<table class="table table-bordered">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>City</th>
        <th>Address</th>
        <th>Sửa</th>
        <th>Xóa</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td>@item.PhoneNumber</td>
            <td>@item.City</td>
            <td>@item.Address</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id, controller = "Users", area = "Admin" })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id, controller = "Users", area = "Admin" })
            </td>
        </tr>
    }
</table>
